# Ignore build and dependency directories
node_modules/
vendor/
dist/
public/assets/css/
public/assets/js/
public/assets/.vite/
tests/

# Ignore cache and temporary files
.cache/
*.cache
*.tmp


# Ignore VCS and test files
.git/
.gitignore
*.log

# Ignore Docker and project config files
Dockerfile
README.md
docker-compose.yml
prettier.config.js

# Ignore environment files
.env*

# Ignore OS, editor, and IDE files
.DS_Store
*.swo
*.swp
.idea/
.vscode/
*.code-workspace
