# Ignore dependency directories
node_modules/
vendor/

# Ignore build output
dist/
public/assets/css/
public/assets/js/
public/assets/.vite/

# Ignore cache and temporary files
.cache/
*.cache
*.tmp

# Ignore log files
*.log

# Ignore environment variable files (except example)
.env*
!.env.example

# Ignore OS, editor, and IDE files
.DS_Store
*.swo
*.swp
.idea/
.vscode/
*.code-workspace
